<section class="info-block">
  <h2 class="info-header">Builds</h2>
  <% if @builds.empty? %>
    <p>No builds exist for this repository.</p>
  <% else %>
    <ul>
      <li class="inline-list build-item">
        <p class="info-label build-name loading">Build</p>
        <p class="info-label build-branch">Branch</p>
        <p class="info-label build-type">Type</p>
        <p class="info-label build-state"> State</p>
        <p class="info-label build-duration">Duration</p>
        <p class="info-label build-reset"></p>
      </li>
      <% @builds.each do |build| %>
        <li class="inline-list build-item state_<%= build.state %>">
          <p class="build-name"><%= link_to describe(build), build %></p>
          <p class="build-branch"><%= build.commit.branch %></p>
          <p class="build-type"><%= build.event_type %></p>
          <p class="build-state"><%= "#{build.state} at #{build.state_time}" %></p>
          <p class="build-duration"><%= format_short_duration(build.duration) %></p>
          <div class="build-reset call-to-action">
            <% if build.not_finished? %>
              <%= button_to "Cancel", cancel_build_path(build), method: "post", remote: true, form: { "data-type" => "json" }, class: "button", form_class: "cancel-build" %>
            <% else %>
              <%= button_to "Restart", restart_build_path(build), method: "post", remote: true, form: { "data-type" => "json" }, class: "button", form_class: "restart-build" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= will_paginate @builds, param_name: 'build_page', params: {anchor: 'builds'}, 'data-remote': true %>
</section>
