<section class="info-block">
  <h2 class="info-header">Builds</h2>
  <% if builds.empty? %>
    <p>No builds exist for this repository.</p>
  <% else %>
    <ul class="inline-list build-item">
      <li class="info-label build-name">Build</li>
      <li class="info-label build-branch">Branch</li>
      <li class="info-label build-type">Type</li>
      <li class="info-label build-state"> State</li>
      <li class="info-label build-duration">Duration</li>
      <li class="info-label build-reset"></li>
    </ul>
    <% builds.each do |build| %>
      <ul class="inline-list build-item state_<%= build.state %>">
        <li class="build-name"><%= link_to "#{repository.slug}##{build.number}", build %></li>
        <li class="build-branch"><%= build.commit.branch %></li>
        <li class="build-type"><%= build.event_type %></li>
        <li class="build-state"><%= "#{build.state} at #{build.state_time}" %></li>
        <li class="build-duration"><%= format_short_duration(build.duration) %></li>
        <li class="build-reset"></li>
      </ul>
    <% end %>
  <% end %>
</section>
