<section class="info-block">
  <h1 class="info-header">Builds</h1>
  <% if builds.empty? %>
    <p>No builds exist for this repository.</p>
  <% else %>
    <% builds.each do |build| %>
      <ul class="inline-list build-item state_<%= build.state %>">
        <li class="build-name"><%= "#{repository.slug}##{build.number}" %></li>
        <li class="build-branch"><%= build.commit.branch %></li>
        <li class="build-type"><%= build.event_type %></li>
        <li class="build-state"><%= build.state %></li>
        <li class="build-time"><%= build.finished_at || build.started_at %></li>
        <li class="build-duration"><%= format_short_duration(build.duration) %></li>
        <li class="build-reset"></li>
      </ul>
    <% end %>
  <% end %>
</section>
