<section class="info-block">
  <h2 class="info-header">Basic Information</h2>

  <dl class="simple-info">
    <dt class="info-label">Name:</dt>
    <dd>
      <%= describe(@repository) %>
      <%= link_to fa_icon("github"), "https://github.com/#{describe(@repository)}", target: "_blank" %>
    </dd>

    <dt class="info-label">Description:</dt>
    <dd><%= @repository.description %></dd>

    <dt class="info-label">Visibility:</dt>
    <dd><%= @repository.private? ? "private" : "public" %></dd>

    <dt class="info-label">Default Branch:</dt>
    <dd><%= @repository.default_branch %></dd>

    <dt class="info-label">Repository Owner:</dt>
    <dd>
      <%= image_tag(@repository.owner.avatar_url, size: "20x20", alt: "Avatar", class: "avatar") if @repository.owner.avatar_url %>
      <%= link_to describe(@repository.owner), @repository.owner %>
    </dd>
    <dt class="info-label">Active Admin</dt>
    <dd>
      <% if @active_admin %>
        <%= image_tag(@active_admin.avatar_url, size: "20x20", alt: "Avatar", class: "avatar") if @active_admin.avatar_url %>
        <%= link_to describe(@active_admin), @active_admin %>
        <%= link_to fa_icon("users", title: "More admins"), '#users' if @repository.permissions_sorted[:admin].size > 1 %>
      <% else %>
        <%= fa_icon("exclamation-triangle", title: "Warning") %> no admin
      <% end %>
    </dd>
  </dl>
</section>

<section class="info-block">
  <h2 class="info-header">Status</h2>

  <dl class="simple-info">
    <dt class="info-label">Last Build:</dt>
    <dd class="inline">
      <% if @repository.last_build_id %>
        <div>
          <%= link_to "##{@repository.last_build_number}", @repository.last_build %>
          <%= "(#{@repository.last_build.state} at #{@repository.last_build.state_time})" %>
        </div>
        <%= form_tag({action: 'delete_last_build', controller: "repositories", id: @repository, method: 'post'}, {class: 'drop-build-button'}) do %>
          <%= render partial: "shared/otp" %>
          <%= submit_tag 'Drop', class: 'button otp', id: "drop-build" %>
        <% end %>
      <% else %>
        No Build.
      <% end %>
    </dd>

    <dt class="info-label">Activation:</dt>
    <dd class="inline">
      <p><%= @repository.active? ? "enabled" : "disabled" %></p>
      <div class="inline">
        <%= button_to "Check Hook", check_hook_repository_path(@repository), form_class: "check-hook", disabled: !@repository.find_admin, title: "Action requires active admin.", class: "button" %>
        <% if @repository.active? %>
          <%= button_to "Test Hook", test_hook_repository_path(@repository), form_class: "test-hook", disabled: !@repository.find_admin, title: "Action requires active admin.", class: "button" %>
          <%= button_to "Disable", disable_repository_path(@repository), form_class: "disable-button", class: "button" %>
        <% else %>
          <%= button_to "Enable", enable_repository_path(@repository), form_class: "enable-button", class: "button" %>
        <% end %>
      </div>
    </dd>
  </dl>
</section>

<section class="info-block">
  <h2 class="info-header">Feature Flags</h2>
  <%= render partial: 'shared/features_for', locals: {owner: @repository} %>
</section>

<section class="info-block">
  <h2 class="info-header">Custom SSH Key</h2>
    <p>
      <%= @repository.has_custom_ssh_key? ? "Yes" : "No"%>
    </p>
</section>

<section class="info-block">
  <h2 class="info-header">Settings</h2>

  <%= form_for :settings, url: {controller: "settings", action: "update"}, html: {class: "inline-list"} do |f| %>
    <div>
      <% Settings::BINARY.each do |key| %>
        <p>
          <%= f.check_box key, checked: @settings.send(key) %>
          <%= f.label key %>
        </p>
      <% end %>

      <% Settings::INTEGER.each do |key| %>
        <p>
          <%= f.text_field key, value: @settings.send(key) %>
          <%= f.label key %>
        </p>
      <% end %>
      </div>
    <%= f.submit('Update', class: 'button', id: 'update-settings') %>
  <% end %>
</section>
