<section class="info-block">
  <h2 class="info-header">Basic Information</h2>

  <dl class="simple-info">
    <dt class="info-label">Name:</dt>
    <dd><%= repository.name %></dd>

    <dt class="info-label">Description:</dt>
    <dd><%= repository.description %></dd>

    <dt class="info-label">Visibility:</dt>
    <dd><%= repository.private? ? "private" : "public" %></dd>

    <dt class="info-label">Default Branch:</dt>
    <dd><%= repository.default_branch %></dd>

    <dt class="info-label">Repository Owner:</dt>
    <dd>
      <% if repository.owner.respond_to? :avatar_url && repository.owner.avatar_url %>
        <%= image_tag(repository.owner.avatar_url, size: "20x20", alt: "Organization Avatar", class: "avatar") %>
      <% end %>
      <%= link_to describe(repository.owner), repository.owner %></dd>
  </dl>
</section>

<section class="info-block">
  <h2 class="info-header">Status</h2>

  <dl class="simple-info">
    <dt class="info-label">Last Build:</dt>
    <dd>
      <% if repository.last_build_id %>
        <%= link_to "##{repository.last_build_number}", repository.last_build %>
        <%= "(#{repository.last_build.state} at #{repository.last_build.state_time})" %>
      <% else %>
        No Build.
      <% end %>
    </dd>

    <dt class="info-label">Activation:</dt>
    <dd><%= repository.active? ? "enabled" : "disabled" %></dd>
  </dl>
</section>
