<section class="info-block">
  <h2 class="info-header">Requests</h2>
  <% if requests.empty? %>
    <p>No requests exist for this repository.</p>
  <% else %>
    <ul>
      <li class="inline-list request-item">
        <p class="info-label">Request</p>
        <p class="info-label">Build</p>
        <p class="info-label">Result</p>
        <p class="info-label">Event Type</p>
        <p class="info-label">State</p>
      </li>
      <% requests.each do |request| %>
        <li class="inline-list request-item state_<%= request.state %>">
          <p><%= link_to describe(request), request %></p>
          <p>
            <% request.builds.each do |build| %>
              <%= describe(build) %>
            <% end %>
            <%= request.message %>
          </p>
          <p><%= request.result %></p>
          <p><%= request.event_type %></p>
          <p><%= request.state %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
