<% title "Repository - #{describe(@repository)}" %>

<div id="tabs">
  <%= link_to 'Repository', repository_path(@repository), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Users', users_repository_path(@repository), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Builds', builds_repository_path(@repository), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Requests', requests_repository_path(@repository), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Caches', caches_repository_path(@repository), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Broadcasts', broadcasts_repository_path(@repository), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
</div>

<section id="main-content">
  <%= render @render_args %>
</section>
