<h1>Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<% if @results %>
  <ul>
    <% @results.each do |result| %>
      <li>
        <%= link_to result.slug, controller: "repositories", action: "show", id: result._id %>
      </li>
    <% end %>
  </ul>
<% end %>
