<h1>Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<% if @results %>
  <ul>
    <% @results.each do |result| %>
      <li class="inline-list search-results">
        <p><%= result.class %></p>
        <p><%= link_to describe(result), result %></p>
      </li>
    <% end %>
  </ul>
<% end %>
