<% title "Audit trail" %>

<section class="info-block">
  <p></p>
  <%= @info %>
  <ul class="log-list">
    <% if @logs.empty? %>
      <li>No logs found.</li>
    <% else %>
      <% @logs.each do |log| %>
        <li>
          <b><%= log.delete('time') %></b> |
          <% admin_id = log.delete('admin_id') %>
          <% admin_login = log.delete('admin_login') || admin_id %>
          <% if admin_id.present? %>
            <%= link_to admin_login, user_path(admin_id) %> |
          <% end %>
          <%= log.delete('message') %> |
          <%= log.map { |k, v| '%s=%s' % [k, v] }.join ' ' %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
