<section class="info-block">
  <h2 class="info-header">Basic Information</h2>

  <% if user.travis_admin? %>
    <p>This user has admin access.</p>
  <% end %>

  <dl class="simple-info">
    <dt class="info-label">Name:</dt>
    <dd><%= user.name %></dd>

    <dt class="info-label">Primary E-mail Address:</dt>
    <dd><%= user.email %></dd>

    <dt class="info-label">Additional E-Mail Addresses:</dt>
    <dd>
      <% user.emails.each do |entry| %>
        <% if entry.email != user.email %>
          <div><%= entry.email %></div>
        <% end %>
      <% end %>
    </dd>
  </dl>
</section>

<section class="info-block">
  <h2 class="info-header">GitHub Information</h2>
  <dl class="simple-info">
    <dt class="info-label">GitHub Login:</dt>
    <dd><%= user.login %></dd>

    <dt class="info-label">GitHub ID:</dt>
    <dd><%= user.github_id %></dd>

    <dt class="info-label">Token:</dt>
    <dd><%= hidden(user, :github_oauth_token) %></dd>

    <dt class="info-label">Scopes:</dt>
    <dd>
      <% if user.github_scopes.present? %>
        <%= user.github_scopes %>
      <% else %>
        none
      <% end %>
    </dd>

    <dt class="info-label">Last Sync:</dt>
    <dd>
      <% if user.is_syncing? %>
        Currently syncing
      <% else %>
        <%= user.synced_at ? user.synced_at : "Never" %>
      <% end %>
      <%= button_to 'Sync', sync_user_path(user), disabled: user.is_syncing?, class: 'button' %>
    </dd>
  </dl>
</section>

<section class="info-block">
  <h2 class="info-header">Organizations</h2>
  <%= render partial: 'organization_list', locals: {organizations: user.organizations} %>
</section>
