<section class="info-block">
  <h2 class="info-header">Basic Information</h2>

  <% if @user.travis_admin? %>
    <p>This user has <%= link_to "admin access", admins_path %>.</p>
  <% end %>

  <dl class="simple-info">
    <dt class="info-label">Name:</dt>
    <dd class="inline become">
      <p><%= @user.name %></p>
      <div>
        <%= form_tag(become_url(@user), class: 'become-button') do %>
          <%= hidden_field_tag(:sso_token, access_token(current_user)) %>
          <%= submit_tag("Log in as", class: "button") %>
        <% end %>
        <%= form_tag("#{become_url(@user)}?billing=true", class: 'billing-button') do %>
          <%= hidden_field_tag(:sso_token, access_token(current_user)) %>
          <%= submit_tag("Billing", class: "button") %>
        <% end %>
      </div>
    </dd>

    <dt class="info-label">GitHub Login:</dt>
    <dd>
      <%= image_tag(@user.avatar_url, size: "20x20", alt: "Avatar", class: "avatar") if @user.avatar_url %>
      <%= @user.login %>
      <%= link_to fa_icon("github"), "https://github.com/#{@user.login}", target: "_blank" %>
    </dd>

    <dt class="info-label">GitHub ID:</dt>
    <dd><%= @user.github_id %></dd>

    <dt class="info-label">Token:</dt>
    <dd class="inline">
      <% if @display_gh_token %>
        <pre><%= @user.github_oauth_token %></pre>
        <%= button_to 'Hide', hide_token_user_path(@user), class: 'button', form_class: 'hide_gh_token' %>
      <% else %>
        <%= hidden(@user, :github_oauth_token) %>
        <%= form_tag({action: 'display_token', controller: "users", id: @user.id, method: 'post'}, {class: 'display_gh_token'}) do %>
          <%= render partial: "shared/otp" %>
          <%= submit_tag 'Display', class: 'button otp', id: "display_gh_token" %>
        <% end %>
      <% end %>
    </dd>

    <dt class="info-label">Scopes:</dt>
    <dd>
      <% if @user.github_scopes.present? %>
        <%= @user.github_scopes %>
      <% else %>
        none
      <% end %>
    </dd>

    <dt class="info-label">Last Sync:</dt>
    <dd class="inline">
      <p>
        <% if @user.is_syncing? %>
          Currently syncing
        <% else %>
          <%= @user.synced_at ? @user.synced_at : "Never" %>
        <% end %>
      </p>
      <%= button_to 'Sync', sync_user_path(@user), disabled: @user.is_syncing?, form_class: "sync-button", class: 'button' %>
    </dd>
  </dl>
</section>

<%= render partial: 'shared/account', locals: {owner: @user} %>

<section class="info-block">
  <h2 class="info-header">Contact Information</h2>
  <dl class="simple-info">
    <dt class="info-label">Primary E-mail Address:</dt>
    <dd>
      <%= @user.email %>
      <%= mail_to @user.email, fa_icon("envelope-o") %>
    </dd>

    <dt class="info-label">Additional E-Mail Addresses:</dt>
    <dd>
      <% @user.emails.each do |entry| %>
        <% if entry.email != @user.email %>
          <div>
            <%= entry.email %>
            <%= mail_to entry.email, fa_icon("envelope-o") %>
          </div>
        <% end %>
      <% end %>
    </dd>
  </dl>
</section>
