<section class="info-block">
  <h3>Basic Information</h3>

  <dl class="simple-info">
    <dt class="info-label">Name:</dt>
    <dd><%= user.name %></dd>

    <dt class="info-label">Primary E-mail Address:</dt>
    <dd><%= user.email %></dd>

    <dt class="info-label">Additional E-Mail Addresses:</dt>
    <dd>
      <% user.emails.each do |entry| %>
        <% if entry.email != user.email %>
          <div><%= entry.email %></div>
        <% end %>
      <% end %>
    </dd>
  </dl>
</section>

<section class="info-block">
  <h3>GitHub Information</h3>
  <dl class="simple-info">
    <dt class="info-label">GitHub Login:</dt>
    <dd><%= user.login %></dd>

    <dt class="info-label">GitHub ID:</dt>
    <dd><%= user.github_id %></dd>

    <dt class="info-label">Token:</dt>
    <dd><%= hidden(user, :github_oauth_token) %></dd>
=
    <dt class="info-label">Scopes:</dt>
    <dd>
      <% if user.github_scopes.present? %>
          <%= user.github_scopes %>
      <% else %>
          none
      <% end %>
    </dd>

    <dt class="info-label">Last Sync:</dt>
    <dd><%= user.synced_at ? user.synced_at : "Never" %></dd>
  </dl>
</section>

<section class="info-block">
  <h3>Organizations</h3>

  <% if user.organizations.empty? %>
    <p>No organizations.</p>
  <% else %>
    <% user.organizations.each do |org| %>
      <div>
        <% if org.avatar_url %>
          <img class="avatar" src="<%= org.avatar_url %>?s=20">
        <% end %>
        <%= org.name.present? ? "#{org.name} (#{org.login})" : org.login %>
        <%= link_to "View", org %>
      </div>
    <% end %>
  <% end %>
</section>
