<section class="info-block">
  <h2 class="info-header">Basic information</h2>
  <% unless travis_config.enterprise? %>
    <% if @user.travis_admin? %>
      <p>This user has <%= link_to "admin access", admins_path %>.</p>
    <% end %>
  <% end %>

  <dl class="simple-info">
    <dt class="info-label">Name</dt>
    <dd class="inline become">
      <p><%= @user.name %></p>
      <% unless travis_config.enterprise? %>
        <div>
          <%= form_tag(become_url(@user), class: 'become-button', target: :_blank) do %>
            <%= hidden_field_tag(:sso_token, access_token(current_user)) %>
            <%= submit_tag("Log in as", class: "button") %>
          <% end %>
          <%= form_tag("#{become_url(@user)}?billing=true", class: 'billing-button') do %>
            <%= hidden_field_tag(:sso_token, access_token(current_user)) %>
            <%= submit_tag("Billing", class: "button") %>
          <% end %>
        </div>
      <% end %>
    </dd>

    <dt class="info-label">VCS Login</dt>
    <dd>
      <%= image_tag(@user.avatar_url, size: "20x20", alt: "Avatar", class: "avatar") if @user.avatar_url %>
      <%= link_to @user.login, vcs_user_profile_url(@user), target: '_blank' %>
    </dd>

    <dt class="info-label">VCS Type</dt>
    <dd>
      <%= @user.vcs_type %>
      (
      <%= image_tag(@user.avatar_url, size: "20x20", alt: "Avatar", class: "avatar") if @user.avatar_url %>
      <%= link_to @user.login, vcs_user_profile_url(@user), target: '_blank' %>
      )
    </dd>

    <dt class="info-label">VCS ID</dt>
    <dd><%= @user.vcs_id %></dd>

    <dt class="info-label">VCS Token</dt>
    <dd class="inline">
      <% if @display_gh_token %>
        <pre><%= @user.vcs_oauth_token %></pre>
        <%= button_to 'Hide', hide_token_user_path(@user), class: 'button', form_class: 'hide_gh_token' %>
      <% else %>
        <%= hidden(@user, :vcs_oauth_token) %>
        <%= form_tag({action: 'display_token', controller: "users", id: @user.id, method: 'post'}, {class: 'display_gh_token'}) do %>
          <%= render partial: "shared/otp" %>
          <%= submit_tag 'Display', class: 'button otp', id: "display_gh_token" %>
        <% end %>
      <% end %>
    </dd>

    <dt class="info-label">VCS Scopes</dt>
    <dd class="inline">
      <% if @user.vcs_scopes.present? %>
        <%= @user.vcs_scopes %>
      <% else %>
        none
      <% end %>
      <%= button_to 'Verify', check_scopes_user_path(@user), form_class: "sync-button", class: 'button' %>
    </dd>

    <dt class="info-label">VCS Integration</dt>
    <dd class="inline">
      <p>
          <% if @user.installation.present? %>
            VCS App installed with
            <strong>id: <%= @user.installation.id %></strong>
            and
            <strong>vcs_id: <%= @user.installation.vcs_id %></strong>
            <%= link_to '[Manage repos link]', manage_repo_link_url(@user) %>
          <% else %>
            Service Hook
          <% end %>
      </p>
    </dd>

    <dt class="info-label">Last Sync</dt>
    <dd class="inline">
      <p>
        <% if @user.is_syncing? %>
          Currently syncing
        <% else %>
          <%= @user.synced_at ? @user.synced_at : "Never" %>
        <% end %>
      </p>
      <% if @user.is_syncing? %>
        <%= button_to 'Reset sync status', reset_sync_user_path(@user), form_class: "sync-button", class: 'button' %>
      <% else %>
        <%= button_to 'Sync', sync_user_path(@user), disabled: @user.is_syncing?, form_class: "sync-button", class: 'button' %>
      <% end %>

    </dd>
     <% if travis_config.enterprise? %>
      <dt class="info-label">Enterprise Status</dt>
      <dd class="inline">
        <p>
          <%= @user.enterprise_status %>
          <% if @user.suspended? %>
            <div class="call-to-action"><%= button_to "Unsuspend", unsuspend_user_path(@user), class: "button", data: { disable_with: 'Loading' } %>
          <% else %>
            <div class="call-to-action"><%= button_to "Suspend", suspend_user_path(@user), class: "button", data: { disable_with: 'Loading' } %>
          <% end %>
        </p>
      </dd>
    <% end %>
  </dl>
</section>

<section class="info-block">
  <h2 class="info-header">Preferences</h2>

  <dl class="simple-info">
    <dd>
      <%= render 'users/prefs_form' %>
    </dd>
  </dl>
</section>

<% unless travis_config.enterprise? %>
  <%= render partial: 'shared/account', locals: { owner: @user } %>
<% end %>

<section class="info-block">
  <h2 class="info-header">Contact information</h2>
  <dl class="simple-info">
    <dt class="info-label">Primary e-mail address</dt>
    <dd>
      <%= @user.email %>
      <%= mail_to @user.email, fa_icon("envelope-o") %>
    </dd>

    <dt class="info-label">Additional e-mail addresses</dt>
    <dd>
      <% @user.emails.each do |entry| %>
        <% if entry.email != @user.email %>
          <div>
            <%= entry.email %>
            <%= mail_to entry.email, fa_icon("envelope-o") %>
          </div>
        <% end %>
      <% end %>
    </dd>
  </dl>
</section>
