<% title "Users with Admin Access" %>

<%= render partial: "shared/otp" %>

<section class="info-block">
  <ul>
    <li class="inline-list admin">
      <p class="info-label">Name</p>
      <p class="info-label">Two Factor Authentication</p>
      <p></p>
    </li>
    <% @admins.each do |admin| %>
      <li class="inline-list admin">
        <p><%= link_to describe(admin), admin %></p>
        <p><%= admin.has_2fa? ? "has two-factor auth set up" : "not set up yet" %></p>
        <div class="call-to-action">
          <% if admin.has_2fa? %>
            <%= form_tag({action: 'reset_2fa', controller: "users", id: admin.id, method: 'post'}, {class: 'reset-2fa'}) do %>
              <%= hidden_field_tag 'otp' %>
              <%= submit_tag 'Reset Secret', class: 'otp button', id: 'reset-2fa' %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
