<% title describe(@user) %>

<div id="tabs">
  <%= current_link_to 'User', user_path(@user), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= current_link_to 'Organizations', organizations_user_path(@user), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= current_link_to 'Repositories', repositories_user_path(@user), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= current_link_to 'Jobs', jobs_user_path(@user), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= current_link_to 'Requests', requests_user_path(@user), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= current_link_to 'Broadcasts', broadcasts_user_path(@user), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <% unless travis_config.enterprise? %>
    <%= current_link_to 'Subscription', subscription_user_path(@user), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
    <%= current_link_to 'Invoices', invoices_user_path(@user), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <% end %>
</div>

<section id="main-content">
  <%= render @render_args %>
</section>
