<% title "User - #{describe(@user)}" %>

<div id="tabs">
  <span id="user" class="tab-switch"></span>
  <a href="#user" class="tab-link">User</a>
  <section class="tab-content two-columns">
    <%= render partial: 'user' %>
  </section>

  <% if @subscription %>
    <span id="subscription" class="tab-switch"></span>
    <a href="#subscription" class="tab-link">Subscription</a>
    <section class="tab-content">
      <%= render partial: 'shared/subscription' %>
      <%= render partial: 'shared/invoices' %>
    </section>
  <% end %>

  <span id="organizations" class="tab-switch"></span>
  <a href="#organizations" class="tab-link">Organizations</a>
  <section class="tab-content">
    <%= render partial: 'organizations', locals: {organizations: @user.organizations} %>
  </section>

  <span id="repositories" class="tab-switch"></span>
  <a href="#repositories" class="tab-link">Repositories</a>
  <section class="tab-content">
    <%= render partial: 'shared/repositories' %>
  </section>

  <span id="jobs" class="tab-switch"></span>
  <a href="#jobs" class="tab-link">Jobs</a>
  <section   class="tab-content">
    <%= render partial: 'shared/jobs', locals: {owner: @user} %>
  </section>

  <span id="requests" class="tab-switch"></span>
  <a href="#requests" class="tab-link">Requests</a>
  <section class="tab-content">
    <%= render partial: 'shared/requests', locals: {origin: @user } %>
  </section>

  <span id="broadcasts" class="tab-switch"></span>
  <a href="#broadcasts" class="tab-link">Broadcasts</a>
  <section   class="tab-content">
    <%= render partial: 'shared/broadcasts', locals: {recipient: @user} %>
  </section>
</div>
