<section class="info-block">
  <h2 class="info-header">Account information</h2>

  <dl class="simple-info">
    <dt class="info-label">Travis ID:</dt>
    <dd><%= owner.id %></dd>

    <dt class="info-label">Account Creation:</dt>
    <dd>
      <time>
        <%= owner.created_at %>
      </time>
    </dd>


    <dt class="info-label">Trial: </dt>
    <dd>
    </dd>

    <dt class="info-label">Subscription:</dt>
    <dd class="inline">
      <p>
        <% if owner.subscription %>
          <a href='#subscription'><%=format_subscription(owner.subscription) %></a>
        <% else %>
          None.
        <% end %>
      </p>

      <% unless owner.subscription && owner.subscription.active? %>
        <%= form_for :subscription, url: {controller: 'subscriptions', action: 'create'}, html: {class: 'create-subscription'} do |f| %>
          <%= f.hidden_field :owner_type, value: owner.class %>
          <%= f.hidden_field :owner_id, value: owner.id %>
          <%= f.select(:selected_plan) do %>
            <% [['one build', 'travis-ci-one-build'], ['two builds', 'travis-ci-two-builds']].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %>
          <%= f.submit 'Create Free', class: 'button', id: 'create-subscription' %>
        <% end %>
      <% end %>
    </dd>

    <% if @last_build %>
      <dt class="info-label">Last Build:</dt>
      <dd>
        <%= link_to describe(@last_build), @last_build %>
      </dd>
    <% end %>

    <dt class="info-label">Job Boost:</dt>
    <dd>
      <%= form_for :boost, url: {action: 'boost', controller: "#{owner.class.table_name}"}, html: {class: 'job-boost inline'} do |f| %>
        <div>
          <%= f.label :owner_limit, "Limit" %>
          <%= f.text_field :owner_limit, value: @existing_boost_limit %>
          <%= f.label :expires_after, "Expires in (hours)" %>
          <%= f.text_field :expires_after, value: @normalized_boost_time %>
        </div>
        <%= f.submit 'Update', class: 'button', id: 'update-job-boost' %>
      <% end %>
    </dd>
  </dl>
</section>

<div class="break"></div>

<section class="info-block">
  <h2 class="info-header">Feature Flags</h2>
  <%= render partial: 'shared/features_for', locals: {owner: owner} %>
</section>

<section class="info-block">
  <h2 class="info-header">Abuse Flags</h2>
  <%= form_for :offender, url: {controller: "offenders", action: "update", login: owner.login}, html: {class: "abuse-form inline"}, method: :put do |f| %>
    <div>
      <% Offender::LISTS.each do |key, description| %>
        <%= f.check_box key, checked: Travis::DataStores.redis.sismember("abuse:#{key}", owner.login) %>
        <%= f.label description %>
      <% end %>
    </div>
    <%= f.submit('Update', class: 'button', id: 'update-abuse-status') %>
  <% end %>
</section>
