<section class="info-block">
  <h2 class="info-header">Travis Information</h2>

  <dl class="simple-info">
    <dt class="info-label">Travis ID:</dt>
    <dd><%= owner.id %></dd>

    <dt class="info-label">Account Creation:</dt>
    <dd>
      <time>
        <%= owner.created_at %>
      </time>
    </dd>


    <dt class="info-label">Trial: </dt>
    <dd>
      <dl>
        <% if @builds_remaining %>
          <dt>Builds Provided:</dt>
          <dd><%= @builds_provided %></dd>
          <dt>Builds Remaining:</dt>
          <dd>
            <%= form_tag action: 'update_trial_builds', controller: "#{owner.class.table_name}", method: 'post' do %>
              <%= text_field_tag 'builds_remaining', @builds_remaining %>
              <%= hidden_field_tag 'previous_builds', @builds_remaining %>
              <%= submit_tag 'Update', class: 'button', id: 'update-trial-builds' %>
            <% end %>
          </dd>
        <% else %>
          Not currently activated.
        <% end %>
      </dl>
    </dd>

    <dt class="info-label">Subscription:</dt>
    <dd>
      <% if owner.subscription %>
        <%= link_to format_subscription(owner.subscription), owner.subscription %>
      <% else %>
        <p>None.</p>
      <% end %>
    </dd>

    <dt class="info-label">Job Boost:</dt>
    <dd>
      <%= form_for :boost, url: {action: 'boost', controller: "#{owner.class.table_name}"}, html: {class: 'job-boost'} do |f| %>
        <%= f.label :owner_limit, "Limit" %>
        <%= f.text_field :owner_limit, value: @existing_boost_limit %>
        <%= f.label :expires_after, "Expires in (hours)" %>
        <%= f.text_field :expires_after, value: @normalized_boost_time %>
        <%= f.submit 'Update', class: 'button', id: 'update-job-boost' %>
      <% end %>
    </dd>
  </dl>
</section>


<section class="info-block">
  <h2 class="info-header">Feature Flags</h2>
  <form>
  </form>
</section>

<section class="info-block">
  <h2 class="info-header">Abuse Flags</h2>
  <%= form_for :offender, url: {controller: "offenders", action: "update", login: owner.login}, html: {class: "abuse-form"}, method: :put do |f| %>
    <% Offender::LISTS.each do |key, description| %>
      <%= f.check_box key, checked: Travis::DataStores.redis.sismember("abuse:#{key}", owner.login) %>
      <%= f.label description %>
    <% end %>
    <%= f.submit('Update', class: 'button', id: 'update-abuse-status') %>
  <% end %>
</section>
