<section class="info-block">
  <h2 class="info-header">Travis Information</h2>

  <dl class="simple-info">
    <dt class="info-label">Travis ID:</dt>
    <dd><%= owner.id %></dd>

    <dt class="info-label">Account Creation:</dt>
    <dd>
      <time>
        <%= owner.created_at %>
      </time>
    </dd>

    <dt class="info-label">Trial Builds:</dt>
    <dd>
      <form>
      </form>
    </dd>

    <dt class="info-label">Total Trials:</dt>
    <dd></dd>

    <dt class="info-label">Subscription:</dt>
    <dd>
      <% if owner.subscription %>
        <%= link_to format_subscription(owner.subscription), owner.subscription %>
      <% else %>
        <p>None.</p>
      <% end %>
    </dd>

    <dt class="info-label">Job Boost:</dt>
    <dd>
      <%= form_for :boost, url: {action: 'boost', controller: "#{owner.class.table_name}"} do |f| %>
        <%= f.label :owner_limit, "Limit" %>
        <%= f.number_field :owner_limit, value: @existing_boost_limit %>
        <%= f.label :expires_after, "Expires in (hours)" %>
        <%= f.number_field :expires_after, value: @normalized_boost_time %>
        <%= f.submit 'Update', class: 'button', id: 'update-job-boost' %>
      <% end %>
    </dd>
  </dl>
</section>


<section class="info-block">
  <h2 class="info-header">Feature Flags</h2>
  <form>
  </form>
</section>

<section class="info-block">
  <h2 class="info-header">Abuse Flags</h2>
  <%= form_for :offender, url: {controller: "offenders", action: "update"}, html: {class: "abuse-form"}, method: :put do |f| %>
    <% Offender::LISTS.each do |key, description| %>
      <%= f.check_box key, checked: Travis::DataStores.redis.sismember("abuse:#{key}", owner.login) %>
      <%= f.label description %>
    <% end %>
    <%= f.hidden_field :login, value: owner.login %>
    <%= f.submit('Update', class: 'button', id: 'update-abuse-status') %>
  <% end %>
</section>
