<section class="info-block">
  <h2 class="info-header">Travis Information</h2>

  <dl class="simple-info">
    <dt class="info-label">Travis ID:</dt>
    <dd><%= owner.id %></dd>

    <dt class="info-label">Account Creation:</dt>
    <dd>
      <time>
        <%= owner.created_at %>
      </time>
    </dd>


    <dt class="info-label">Trial: </dt>
    <dd>
      <% if @builds_remaining %>
        <div>
          Builds Provided:
          <%= @builds_provided %>
        </div>
        <%= form_tag({action: 'update_trial_builds', controller: "#{owner.class.table_name}", method: 'post'}, {class: 'trial-builds inline'}) do %>
          <div>
            <%= label_tag 'Builds Remaining:' %>
            <%= text_field_tag 'builds_remaining', @builds_remaining %>
            <%= hidden_field_tag 'previous_builds', @builds_remaining %>
          </div>
          <%= submit_tag 'Update', class: 'button', id: 'update-trial-builds' %>
        <% end %>
      <% else %>
        Not currently activated.
      <% end %>
    </dd>

    <dt class="info-label">Subscription:</dt>
    <dd>
      <% if owner.subscription %>
        <%= link_to format_subscription(owner.subscription), owner.subscription %>
      <% else %>
        None.
      <% end %>
    </dd>

    <dt class="info-label">Job Boost:</dt>
    <dd>
      <%= form_for :boost, url: {action: 'boost', controller: "#{owner.class.table_name}"}, html: {class: 'job-boost inline'} do |f| %>
        <div>
          <%= f.label :owner_limit, "Limit" %>
          <%= f.text_field :owner_limit, value: @existing_boost_limit %>
          <%= f.label :expires_after, "Expires in (hours)" %>
          <%= f.text_field :expires_after, value: @normalized_boost_time %>
        </div>
        <%= f.submit 'Update', class: 'button', id: 'update-job-boost' %>
      <% end %>
    </dd>
  </dl>
</section>

<div class="break"></div>

<section class="info-block">
  <h2 class="info-header">Feature Flags</h2>
  <%= render partial: 'shared/features_for', locals: {owner: owner} %>
</section>

<section class="info-block">
  <h2 class="info-header">Abuse Flags</h2>
  <%= form_for :offender, url: {controller: "offenders", action: "update", login: owner.login}, html: {class: "abuse-form inline"}, method: :put do |f| %>
    <div>
      <% Offender::LISTS.each do |key, description| %>
        <%= f.check_box key, checked: Travis::DataStores.redis.sismember("abuse:#{key}", owner.login) %>
        <%= f.label description %>
      <% end %>
    </div>
    <%= f.submit('Update', class: 'button', id: 'update-abuse-status') %>
  <% end %>
</section>
