<% if broadcasts.empty? %>
  <p>No broadcasts.</p>
<% else %>
  <ul>
    <li class="inline-list broadcast-item">
      <p class="info-label">Recipient</p>
      <p class="info-label">Date</p>
      <p class="info-label">Kind</p>
      <p class="info-label">Message</p>
      <p class="info-label"></p>
    </li>
    <% broadcasts.each do |broadcast| %>
      <li class="inline-list broadcast-item">
        <p><%= broadcast.recipient ? link_to(describe(broadcast.recipient), broadcast.recipient) : "everybody" %></p>
        <p><time><%= broadcast.created_at.to_date %></time></p>
        <p><%= broadcast.kind %></p>
        <p><%= sanitize broadcast.message %></p>
        <p>
          <%= form_for broadcast, url: {controller: "broadcasts", action: "expire", id: broadcast.id} do |f| %>
            <% if defined? recipient %>
              <%= f.hidden_field :recipient_type, value: recipient.class.name %>
              <%= f.hidden_field :recipient_id, value: recipient.id %>
            <% end %>
            <%= f.submit(expire_broadcast_btn_text(broadcast), disabled: broadcast.inactive?, class: 'button') %>
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>
