<% if jobs.empty? %>
  <p>No jobs.</p>
<% else %>
  <ul>
    <li class="inline-list job-item">
      <p class="info-label">Job ID</p>
      <p class="info-label">State</p>
      <p class="info-label">Queue</p>
      <p class="info-label"></p>
    </li>
    <% jobs.each do |job| %>
      <li class="inline-list job-item">
        <p><%= link_to describe(job), job %></p>
        <p><%= "#{job.state} at #{job.state_time}" %></p>
        <p><%= job.queue %></p>
        <p>
          <% if job.not_finished? %>
            <%= link_to "Cancel", cancel_job_path(job), method: "post", class: "button cancel-job", remote: true, 'data-type': 'json' %>
          <% else %>
            <%= link_to "Restart", restart_job_path(job), method: "post", class: "button restart-job", remote: true, 'data-type': 'json' %>
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>
