<% if jobs.empty? %>
  <p>No jobs.</p>
<% else %>
  <ul>
    <li class="inline-list job-item">
      <p class="info-label job-id">Job ID</p>
      <p class="info-label job-build">Build</p>
      <p class="info-label job-state">State</p>
      <p class="info-label job-queue">Queue</p>
      <p class="info-label job-reset"></p>
    </li>
    <% jobs.each do |job| %>
      <li class="inline-list job-item">
        <p class="job-id"><%= link_to describe(job), job %></p>
        <p class="job-build"><%= link_to "##{job.build.number}", job.build %></p>
        <p class="job-state"><%= "#{job.state} at #{job.state_time}" %></p>
        <p class="job-queue"><%= job.queue %></p>
        <div class="job-reset call-to-action">
          <% if job.not_finished? %>
            <%= button_to "Cancel", cancel_job_path(job), method: "post", remote: true, form: { "data-type" => "json" }, class: "button", form_class: "cancel-job" %>
          <% else %>
            <%= button_to "Restart", restart_job_path(job), method: "post", remote: true, form: { "data-type" => "json" }, class: "button", form_class: "restart-job" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
