<% if users.empty? %>
  <p>No users.</p>
<% else %>
  <%= form_for :sync_all, url: {action: 'sync_all', controller: 'users'} do |f| %>
    <%= f.hidden_field :back_link, value: request.fullpath %>
    <%= f.hidden_field :user_ids, value: users.map(&:id).join(',') %>
    <%= f.submit 'Sync all', class: 'button' %>
  <% end %>
  <ul>
    <li class="inline-list user-item">
      <p class="info-label">Name</p>
      <p class="info-label">Subscription</p>
      <p class="info-label">Trial Builds</p>
    </li>
    <% users.each do |user| %>
      <li class="inline-list user-item">
        <p><%= link_to describe(user), user %></p>
        <p>
          <% if user.subscription %>
            <%= link_to format_subscription(user.subscription), user.subscription %>
          <% else %>
            none
          <% end %>
        </p>
        <p>
          <%= trial_builds_checker(user) %>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>
