<section class="info-block">
  <h2 class="info-header">General Information</h2>

  <dl class="simple-info">
    <dt class="info-label">Plan:</dt>
    <dd>
      <% if plan %>
        <%= "#{plan.name} (#{format_price(plan.amount)}/month)" %>
      <% else %>
        No Plan.
      <% end %>
    </dd>
  </dl>

  <dl class="simple-info">
    <dt class="info-label">Coupon:</dt>
    <dd>
      <% if subscription.coupon %>
        <%= subscription.coupon %>
      <% else %>
        No Coupon.
      <% end %>
    </dd>
  </dl>

  <dl class="simple-info">
    <dt class="info-label"><%= subscription.active? ? "Expires:" : "Expired:" %></dt>
    <dd><time><%= subscription.valid_to %></time></dd>
  </dl>

  <dl class="simple-info">
    <dt class="info-label">Owner:</dt>
    <dd><%= link_to describe(subscription.owner), subscription.owner %></dd>
  </dl>

  <% if subscription.contact %>
    <dl class="simple-info">
      <dt class="info-label">Contact:</dt>
      <dd><%= link_to describe(subscription.contact), subscription.contact %></dd>
    </dl>
  <% end %>

  <dl class="simple-info">
    <dt class="info-label">Billing E-mail:</dt>
    <dd><%= subscription.billing_email %></dd>
  </dl>

  <dl class="simple-info">
    <dt class="info-label">VAT ID:</dt>
    <dd><%= subscription.vat_id %></dd>
  </dl>

  <dl class="simple-info">
    <dt class="info-label">Address:</dt>
    <dd>
      <address>

      </address>
    </dd>
  </dl>
</section>
