<section class="info-block">
  <h2 class="info-header">General Information</h2>
  <%= form_for :subscription, url: {controller: 'subscriptions', action: 'update'} do |f| %>
    <dl class="simple-info">
      <dt class="info-label">Plan:</dt>
      <dd>
        <% if plan %>
          <%= "#{plan.name} (#{format_price(plan.amount)}/month)" %>
        <% else %>
          No Plan.
        <% end %>
      </dd>
      <dt class="info-label">Coupon:</dt>
      <dd>
        <% if subscription.coupon %>
          <%= subscription.coupon %>
        <% else %>
          No Coupon.
        <% end %>
      </dd>
      <dt class="info-label"><%= subscription.active? ? 'Expires:' : 'Expired:' %></dt>
      <dd><time><%= f.date_select :valid_to, value: subscription.valid_to %></time></dd>
      <dt class="info-label">Owner:</dt>
      <dd><%= link_to describe(subscription.owner), subscription.owner %></dd>

      <% if subscription.contact %>
        <dt class="info-label">Contact:</dt>
        <dd><%= link_to describe(subscription.contact), subscription.contact %></dd>
      <% end %>

      <dt class="info-label">Billing E-mail:</dt>
      <dd><%= f.text_field :billing_email, value: subscription.billing_email %></dd>

      <dt class="info-label">VAT ID:</dt>
      <dd><%= f.text_field :vat_id, value: subscription.vat_id %></dd>

      <dt class="info-label">Address:</dt>
      <dd>
        <address>

        </address>
      </dd>
    </dl>
  <% end %>
</section>
