<ol class="breadcrumb">
  <li>User</li>
  <li class="active"><%= @user.login %></li>
</ol>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">User</a></li>
    <li role="presentation"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a></li>
    <li role="presentation"><a href="#repositories" aria-controls="respositories" role="tab" data-toggle="tab">Repositories</a></li>
    <li role="presentation"><a href="#queue" aria-controls="queue" role="tab" data-toggle="tab">Queue</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="user">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user"></i> Basic Information</h3>
        </div>
        <div class="panel-body">
          <strong>Name:</strong> <%= @user.name %><br />
          <strong>Primary Email:</strong> (Not available from API?)<br />
          <strong>Additional Emails:</strong> (Not available from API?)
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-github"></i> Github Information</h3>
        </div>
        <div class="panel-body">
          <strong>ID:</strong> <%= @user.login %>(<%= @user.github_id %>)<br />
          <strong>Last Sync:</strong> <%= @user.synced_at %><br />
          <button type="button" class="btn btn-default">Sync</button>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="account">...</div>
    <div role="tabpanel" class="tab-pane" id="repositories">...</div>
    <div role="tabpanel" class="tab-pane" id="queue">...</div>
  </div>

</div>


