<h2 class='info-header'>Changelog</h2>

<% if @subscription.plan_changes.present? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Author</th>
        <th>Reason</th>
        <th>Changes</th>
      </tr>
    </thead>

    <tbody>
      <% @subscription.plan_changes.each do |plan_change| %>
        <tr>
          <td><%= plan_change.id %></td>
          <td><%= format_time(plan_change.created_at) %></td>
          <td><%= describe(plan_change.user) %></td>
          <td><%= plan_change.change_reason %></td>
          <td><%= plan_change.human_changes.join("<br />").html_safe %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @subscription.plan_changes, param_name: 'page' %>
<% else %>
  None.
<% end %>