<section class="info-block">
  <h2 class="info-header">Basic Information</h2>

  <dl class="simple-info">
    <dt class="info-label">Name:</dt>
    <dd><%= organization.name %></dd>

    <dt class="info-label">Primary E-mail Address:</dt>
    <dd><%= organization.email %></dd>

    <dt class="info-label">Homepage:</dt>
    <dd><%= organization.homepage %></dd>

    <dt class="info-label">Location:</dt>
    <dd><%= organization.location %></dd>
  </dl>
</section>

<section class="info-block">
  <h2 class="info-header">GitHub Information</h2>
  <dl class="simple-info">
    <dt class="info-label">GitHub Login</dt>
    <dd>
      <% if organization.avatar_url %>
        <img class="avatar" src="<%= organization.avatar_url %>?s=20" alt="organization avatar" />
      <% end %>
      <%= organization.login %>
    </dd>

    <dt class="info-label">GitHub ID</dt>
    <dd><%= organization.github_id %></dd>
  </dl>
</section>

<section class="info-block">
  <h2 class="info-header">Members</h2>
  <%= render partial: 'shared/user_list', locals: {users: @users} %>
</section>
