<section class="info-block">
  <h2 class="info-header">Basic information</h2>

  <dl class="simple-info">
    <dt class="info-label">Name</dt>
    <dd><%= @organization.name %></dd>

    <dt class="info-label">GitHub login</dt>
    <dd>
      <%= image_tag(@organization.avatar_url, size: "20x20", alt: "Organization Avatar", class: "avatar") if @organization.avatar_url %>
      <%= @organization.login %>
      <%= link_to fa_icon("github"), "https://github.com/#{@organization.login}", target: "_blank" %>
    </dd>

    <dt class="info-label">GitHub ID</dt>
    <dd><%= @organization.github_id %></dd>

    <dt class="info-label">GitHub Integration</dt>
    <dd><%= @organization.github_id %></dd>

    <dt class="info-label">GitHub Integration</dt>
    <dd class="inline">
      <p>
        <% if @organization.github_id.present? %>
          <% if @repo_hooks.any? %>
            Service Hook
          <% else %>
            GitHub App installed with
            <strong>id: <%= @organization.id %></strong>
            and
            <strong>github_id: <%= @organization.github_id %></strong>
            <%= link_to '[Manage repos link]', repositories_organization_path(@organization) %>
          <% end %>
        <% end %>
      </p>
    </dd>

  </dl>
</section>

<% unless travis_config.enterprise? %>
  <%= render partial: 'shared/account', locals: {owner: @organization} %>
<% end %>

<h2 class="info-header">Contact information</h2>

<dl class="simple-info">
  <dt class="info-label">Primary e-mail address</dt>
  <dd>
    <%= @organization.email %>
    <%= mail_to @organization.email, fa_icon("envelope-o") %>
  </dd>

  <dt class="info-label">Homepage</dt>
  <dd><%= link_to @organization.homepage, @organization.homepage, target: "_blank" %></dd>

  <dt class="info-label">Location</dt>
  <dd><%= @organization.location %></dd>
</dl>
