<section class="info-block">
  <h2 class="info-header">Basic information</h2>

  <dl class="simple-info">
    <dt class="info-label">Name</dt>
    <dd><%= @organization.name %></dd>

    <dt class="info-label">VCS Login</dt>
    <dd>
      <%= image_tag(@organization.avatar_url, size: "20x20", alt: "Organization Avatar", class: "avatar") if @organization.avatar_url %>
      <%= link_to @organization.login, vcs_organization_profile_url(@organization), target: '_blank' %>
    </dd>

    <dt class="info-label">VCS Type</dt>
    <dd>
      <%= @organization.vcs_type %>
      (
      <%= image_tag(@organization.avatar_url, size: "20x20", alt: "Avatar", class: "avatar") if @organization.avatar_url %>
      <%= link_to @organization.login, vcs_organization_profile_url(@organization), target: '_blank' %>
      )
    </dd>

    <dt class="info-label">VCS ID</dt>
    <dd><%= @organization.vcs_id %></dd>

    <dt class="info-label">VCS Integration</dt>
    <dd class="inline">
      <p>
        <% if @installation.present? %>
          VCS App installed with
          <strong>id: <%= @installation.id %></strong>
          and
          <strong>vcs_id: <%= @installation.vcs_id %></strong>
          <%= link_to '[Manage repos link]', manage_repo_link_url(@organization) %>
        <% else %>
          Service Hook
        <% end %>
      </p>
    </dd>

  </dl>
</section>

<section class="info-block">
  <h2 class="info-header">Preferences</h2>

  <dl class="simple-info">
    <dd>
      <%= render 'organizations/prefs_form' %>
    </dd>
  </dl>
</section>

<section class="info-block">
  <h2 class="info-header">SSH Keys for build jobs</h2>

  <dl class="simple-info">
    <%= render partial: 'shared/custom_keys', locals: { owner: @organization } %>
  </dl>
</section>

<% unless travis_config.enterprise? %>
  <%= render partial: 'shared/account', locals: {owner: @organization} %>
<% end %>

<h2 class="info-header">Contact information</h2>

<dl class="simple-info">
  <dt class="info-label">Primary e-mail address</dt>
  <dd>
    <%= @organization.email %>
    <%= mail_to @organization.email, fa_icon("envelope-o") %>
  </dd>

  <dt class="info-label">Homepage</dt>
  <dd><%= link_to @organization.homepage, @organization.homepage, target: "_blank" %></dd>

  <dt class="info-label">Location</dt>
  <dd><%= @organization.location %></dd>
</dl>
