<h1 class="info-header"><%= "Organization - #{describe(@organization)}" %></h1>

<div id="tabs">
  <span id="organization" class="tab-switch"></span>
  <a href="#organization" class="tab-link">Organization</a>
  <section   class="tab-content">
    <%= render partial: 'organization', locals: {organization: @organization} %>
  </section>

  <span id="account" class="tab-switch"></span>
  <a href="#account" class="tab-link">Account</a>
  <section   class="tab-content">
    <%= render partial: 'shared/account', locals: {owner: @organization, trials_remaining: @trials_remaining} %>
  </section>

  <span id="broadcast" class="tab-switch"></span>
  <a href="#broadcast" class="tab-link">Broadcast</a>
  <section   class="tab-content">
    <%= render partial: 'shared/broadcasts', locals: {recipient: @organization} %>
  </section>

  <span id="repositories" class="tab-switch"></span>
  <a href="#repositories" class="tab-link">Repositories</a>
  <section class="tab-content">
    <%= render partial: 'shared/repositories', locals: {repositories: @repositories} %>
  </section>

  <span id="jobs" class="tab-switch"></span>
  <a href="#jobs" class="tab-link">Jobs</a>
  <section class="tab-content">
    <%= render partial: 'shared/jobs' %>
  </section>
</div>
