<% title describe(@organization) %>

<div id="tabs">
  <%= link_to 'Organization', organization_path(@organization), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Subscription', subscription_organization_path(@organization), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Invoices', invoices_organization_path(@organization), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Members', members_organization_path(@organization), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Repositories', repositories_organization_path(@organization), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Jobs', jobs_organization_path(@organization), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Requests', requests_organization_path(@organization), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
  <%= link_to 'Broadcasts', broadcasts_organization_path(@organization), class: 'remote-tab-link', remote: true, data: { content: 'main-content' } %>
</div>

<section id="main-content">
  <%= render @render_args %>
</section>
