<!DOCTYPE html>
<html>
  <head>
    <title>TravisAdmin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="top">
      <div class="row topbar">
        <h1 id="logo" class="logo">
          <%= link_to "Travis Admin", "#" %>
        </h1>
        <nav></nav>
      </div>
    </header>

    <main class="main">
      <section class="alert">
        <% flash.each do |name, msg| -%>
            <%= content_tag :p, msg, class: name %>
        <% end -%>
      </section>

      <%= yield %>

    </main>
  </body>
</html>
