<!DOCTYPE html>
<html>
  <head>
    <title>TravisAdmin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="top">
      <div class="row topbar">
        <h1 id="logo" class="logo">
          <%= link_to "Travis Admin", root_path %>
        </h1>
        <nav>
          <ul class="navigation menu">
            <li><%= link_to fa_icon("bullhorn", title: "Broadcast"), broadcasts_path %></li>
            <li><%= link_to fa_icon("flag", title: "Features"), features_path %></li>
            <li><%= link_to fa_icon("users", title: "Admins"), admins_path %></li>
            <li><%= link_to fa_icon("ban", title: "Abuse"), offenders_path %></li>
            <li><%= link_to fa_icon("file-text-o", title: "Audit Trail"), audit_trail_index_path, id: "audit_trail" %></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main">
      <section class="flashes">
        <% flash.each do |name, msg| -%>
          <%= content_tag :p, msg, class: name %>
        <% end -%>
      </section>

      <%= yield %>

    </main>
  </body>
</html>
